h1.cover-heading Have new topic?
p.lead Topics is an anonymous discussion place where you don't have to worry about being discovered, but you must follow the rules. 
p Not allowed to attack others, Answers that no one agrees within ten minutes will be hidden.
p.lead
  a.btn.btn-lg.btn-secondary href="#" See more